.hero {
  background: #f4f4f4;
  color: #333;
  padding: 1em;
  text-align: center;
  background-image: url("../assets/images/hero.png");
  background-size: cover;
  background-position: center;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
  overflow: hidden;
  transition: ease 0.5s;
}

.container {
  margin: 0 auto;
  transition: ease 0.5s;
}

.hero_intro {
  font-size: 1.5em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease 0.5s;
}

.hero_intro h2 {
  margin-bottom: 0.5em;
  margin-bottom: 1em;
  font-size: 48px;
  transition: ease 0.5s;
}

.hero_intro p {
  margin-bottom: 0.5em;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 1.5em;
  transition: ease 0.5s;
}

@media screen and (max-width: 768px) {
  .hero_intro h2 {
    font-size: 36px;
    transition: ease 0.5s;
  }

  .hero_intro p {
    font-size: 16px;
    transition: ease 0.5s;
    text-align: center;
  }

  .hero_intro {
    margin-bottom: 2em;
    transition: ease 0.5s;
  }
}
