.stats_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  flex: 1;
  width: 100%;
  padding-top: 5.5em;
  padding-bottom: 5.5em;
}

.stats_container {
  width: 100%;
  max-width: 1800px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  transition: ease-in-out 0.5s;
}

.stats_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s;
  width: 700px;
  transition: ease-in-out 0.5s;
}

.stats_content {
  transition: 0.3s;
  list-style: none;
  width: 100%;
}

.stats_deatails {
  width: 100%;
  margin-bottom: 3em;
}

.stats_deatails p {
  text-align: left;
}

.stats_list {
  width: 100%;
}

.stats {
  list-style: none;
  padding: 0;
  text-align: left;
  display: flex;
}

.stats li {
  text-align: left;
  padding-right: 10px;
}

.stats p {
  text-align: left;
}

@media screen and (max-width: 1550px) {
  .stats_container {
    width: 90%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
  }
  .stats_box {
    width: 50%;
    transition: ease-in-out 0.5s;
  }

  .stats_content {
    padding-left: 30px;
    transition: ease-in-out 0.5s;
  }
}

@media screen and (max-width: 768px) {
  .stats_box {
    width: 100%;
    transition: ease-in-out 0.5s;
  }
  .stats_container {
    flex-direction: column;
    transition: ease-in-out 0.5s;
  }
  .stats_content {
    padding-left: 0;
    transition: ease-in-out 0.5s;
    margin-top: 1em;
  }
}
