.default_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  border: none;
}

.transparent_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  border: none;
}

@media screen and (max-width: 768px) {
  .default_button {
    width: 150px;
    height: 50px;
  }

  .transparent_button {
    width: 150px;
    height: 50px;
  }

  @media screen and (max-width: 425px) {
    .default_button {
      width: 100px;
      height: 40px;
    }

    .transparent_button {
      width: 100px;
      height: 40px;
    }
  }
}
